<h2>Invitados: </h2>
<ul *ngFor="let invitado of invitados" class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{invitado.Nombre}} {{invitado.Apellido}} {{invitado. DNI}} <button (click)="EliminarInv(invitado.DNI)" type="button" class="btn btn-info">Eliminar</button>
    </li>
  </ul>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <form [formGroup]="formulario" (ngSubmit)="Invitar()">    
            <label>Nombre: </label>
            <input formControlName="Nombreinput" type="text">

            <label>Apellido: </label>
            <input formControlName="Apellidoinput" type="text">

            <label>DNI: </label>
            <input formControlName="DNIinput" type="text">

            <button type="submit" class="btn btn-secondary">Invitar</button>
        </form>
    </li>
