<form [formGroup]="formulario" (ngSubmit)="onRegis()">
<div class="container">
    <div class="mb-6">
        <label for="" class="form-label">Usuario:</label>
        <input type="text" formControlName="usernameinput" class="form-control" name="" id="" placeholder="Ingrese su usuario: ">
    </div>
    <div class="mb-6">
        <label for="" class="form-label">Contraseña:</label>
        <input type="password" formControlName="passwordinput" class="form-control" name="" id="" placeholder="Ingrese su contraseña:">
    </div>
    <div class="mb-6">
        <label for="" class="form-label">Confirmar contraseña:</label>
        <input type="passwordinput" class="form-control" name="" id="" placeholder="Ingrese su contraseña:">
    </div>

    <button type="submit" class="btn btn-primary">Registrarse</button>
</div>
</form>