<div class="container">
    <div class="mb-6">
        <label for="" class="form-label">Email:</label>
        <input type="text" class="form-control" name="" id="" placeholder="Ingrese su usuario: ">
    </div>
    <div class="mb-6">
        <label for="" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" name="" id="" placeholder="Ingrese su contraseña:">
    </div>
    <div class="mb-6">
        <label for="" class="form-label">Confirmar contraseña:</label>
        <input type="password" class="form-control" name="" id="" placeholder="Ingrese su contraseña:">
    </div>

    <button type="button" class="btn btn-primary">Registrarse</button>
</div>