.row-custom {
    background-color: #000; 
    color: #fff; 
    padding: 10px; 
}


.row-custom a {
    text-decoration: none; 
    color: #00f; 
}


.row-custom p {
    margin: 0; 
}

div {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
