<div class="row justify-content-bottom align-items-center g-2 row-custom">
    <small class="col"></small>
    <a class="col" [routerLink]="['/faq']">Preguntas frecuentes</a>
    <p class="col">&copy; 2023 Eventize: tu gestor de eventos preferido</p>
    <div class="col footer-credits">
        <span class="github-label">Developers:</span>
        <a href="https://github.com/TC-Codingg" target="_blank" rel="noopener" class="github-link">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" class="github-icon">
            Tomás Centurión
        </a>
        |
        <a href="https://github.com/Agustin-Bustos" target="_blank" rel="noopener" class="github-link">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" class="github-icon">
            Agustín Bustos
        </a>
    </div>
    <small class="col"></small>
</div>
