
body {
    font-family: Arial, sans-serif;
    background-color: #d2b48c; 
    color: #333; 
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #800080; 
}

p {
    font-size: 18px;
}

nav {
    background-color: #d2b48c;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #800080;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #d2b48c;
    padding: 10px 0;
    color: #333;
}
